* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

body {
    background-color: aqua;
}

.search {
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center elements within the div */
    justify-content: center; /* Horizontally center elements within the div */
    height: 50px; /* Set a fixed height for the container to vertically center elements */
}

.search input {
    text-align: center;
    border-radius: 10px;
    width: 50%;
    height: 75%; /* Make both input and img the same height */
    min-width: 30%;
}

.search button, .search img{
    height: 75%;
    margin: 2px;
}

.search button{
    border-radius: 10px;
}

.container {
    background-color: aquamarine;
    width: 60%;
    padding: 3px 35px;
    border-radius: 10px;
    margin: 0 auto; /* Center the container */
}

.data{
    border: 1px solid black;
    display: flex;
    gap: 7%;
    padding: 0.5rem;
    border-radius: 10px;
    min-width: 3rem;
}

.card{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 50% 50%;
}

.today {
    border: 1px solid black;
    width: 100%; /* Set the width to 100% for the "data today" div */
    height: 100%;
    gap: 2rem;
    grid-column: 1 / span 2; /* Span two grid columns to take up the full width of the card */
    display: flex; /* Change the display property to flex */
}

.other-data{
    display: flex;
    border: 1px solid black;
    margin-block: 0.4rem;
    border-radius: 10px;
}

.other-data img{
    height: 100%;
    width: 10%;
    margin-block: auto;
}

.data-set{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-inline: 10px;
}

footer{
    position: relative;
    text-align: center;
}

