* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

body {
    background-color: aqua;
}

main{
    display: none;
}

.search {
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center elements within the div */
    justify-content: center; /* Horizontally center elements within the div */
    margin-top: 50%;
    height: 50px; /* Set a fixed height for the container to vertically center elements */
}

.search input {
    text-align: center;
    border-radius: 10px;
    width: 50%;
    height: 75%; /* Make both input and img the same height */
    min-width: 30%;
}

.search button, .search img{
    height: 75%;
    margin: 2px;
}

.search button{
    border-radius: 10px;
}

.search button:hover{
    background-color: aqua;
}

.container {
    background-color: aqua;
    min-width: 550px;
    max-width: 720px;
    padding: 3px 35px;
    border-radius: 10px;
    margin: 0 auto; /* Center the container */
}

.container h1{
    text-align: center;
    font-size: 3vh;
}

.data{
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0.5rem;
    border-radius: 10px;
    min-width: 3rem;
}

.card{
    width: 100%;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: 50% 50%;
}

.down{
    position: relative;
    padding-top: 5px;
}


.today {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    gap: 1%;
    grid-column: 1 / span 2; /* Span two grid columns to take up the full width of the card */
    align-items: center;
}

.day-datas{
    display: flex;
}

.other-data{
    display: flex;
    border: 1px solid black;
    gap: 0.3%;
    margin-block: 0.4rem;
    border-radius: 10px;
    min-width: 350px;
}

.other-data img, .today img{
    width: 2px + 2vh;
    margin-block: auto;
}

.other-data i{
    margin-block: auto;
    padding-right: 10px;
}

.data-set{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-inline: 10px;
}

.other-data i, .other-data p, .today i, .today p{
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%; /* Optionally, set the width to 100% to span the entire width of the page. */
  }
